.top {
    background: linear-gradient(to bottom,
        rgb(70, 68, 65)20%,
        rgb(87, 85, 82)50%,
        rgb(122, 121, 122)100%
    );
padding: 70px 200px;
width: 600px;
position: absolute;
left: 225px;
top: 3px;
height: 100px;

} 
img {
    border-radius: 50%;
    width: 150px;
    height: 130px;
    border:  2px dotted orange;
    position: relative;
    left: 200px;
  top: 0px;
    
}
.gap {
 
    position: absolute;
    left: 0px;
    top: 180px;
   background-color: rgb(233, 227, 227);
  width:1000px;
   height: 30px;

    
}

div {
 display: flex;
 flex-direction: column;

}
.r {
    position: absolute;
    width: 1000px;
   right: 0px;
    top: 255px;
}



span {
    background-color: orange;
    padding: 15px 15px;
   
    position: absolute;
    left: 420px;
    top: 170px;
    border-radius: 7px;


}
pre {
    position: absolute;
    left: 185px;
    top: 230px;
}


.pro {

    width: 370px;
  position: absolute;
  left: 250px;
  top: 260px;
  border-right: 2px solid gray;
  padding-right: 97px;
  height: 1000px;

}
.profile {
    width: 450px;
    position: absolute;
    left: 252px;
    top: 332px;
 }

.skills {
    position: absolute;
    width: 380px;
    left: 250px;
    top: 375px;
    
 
    
}

.techski {
    
        width: 630px;
        position: absolute;
        top: 420px;
        left:360px;
        
}

.tech {
    width: 420px;
    position: absolute;
    top: 470px;
    left:255px;
    
   
 
 
}

.addski {
    width: 630px;
        position: absolute;
        top: 650px;
        left:360px;
        
}
.add {
    width: 423px;
        position: absolute;
        top: 720px;
        left:255px;
        
}
.work{
    width: 490px;
    position: absolute;
    top: 870px;
    left: 250px;
}
.em{
    width: 430px;
    position: absolute;
    top: 45px;
    left: 0px;
   
}

.work2 {
    width: 430px; 
    position :absolute;
    top: 270px;
    left:770px;
    padding-right: 50px;
    border:2px grey;
 }

 .wx { 
    
    position :absolute;
    top:60px;
    left:-0px;
    padding-right: 38px;
    border:2px grey;
 }

 .edu { 
     width: 450px;
    position :absolute;
    top: 585px;
    left: 770px;
    padding-right: 50px;
    border:2px   grey;
 }
 .ei {
    width: 430px;
    position:absolute;
    top: 650px;
    left: 770px;
    text-align: justify;
    border:2px   grey;
 }
 


 .h{
    position: absolute;
    width: 995px;
    left: 230px;
    top: 1300px;
}

 

h3 {
    color: gray;
    font-size: 23px;
}
li {
    text-align: justify;
}
p {
    text-align: justify;
}

input[type="range"]{
    height:5px;
    margin: 10px 0;
    width: 100%;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    height: 5px;
    width:50%;
    cursor: pointer;
    background: orange;
    background:linear-gradient
    (90deg rgba(248, 190, 39, 1)50%,  rgb(206, 157, 65)100%);
    border-radius: 8px;
   
}

input[type="range"]::-webkit-slider-thumb{
    box-shadow: 1px 1px 1px #000000;
    height: 8px;
    width: 8px;
    border: 1px solid gray;
    border-radius: 7px;
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer;
    margin-top: -1px;
}
i{
    color:white;
    border: 3px dotted orange;
    border-radius: 50%;
    padding: 5px;
    background-color: orange
    ;
}
